div img{
  border-radius: 20px;
}

div{
  border-radius: 20px;
  padding: 10px;
}

#searchPin{
background-color: #f2f2f2;
border: none;
margin-top: 10px;
padding-left: 30px;
margin-left: 50px;
}

#lupa{
  position: absolute;
  left: 15%;
  top: 25px;
  color: #aaa;
  cursor: pointer;
  font-size: 25px;
}

#close{
  position: absolute;
  left: 78%;
  top: 20px;
  padding: 9px 8px;
  color: gray;
  cursor: pointer;
}

#dropdown{
  margin-left: 0%;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

#div{
  position: relative;
}

#iconPinterest{
  color: red;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 30px;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  #div{
      position: relative;
      left: 0%;
  }
}

.links{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  cursor: pointer;
  color: gray;
  font-weight: bold;
}

a:link {
  text-decoration: none;
  color: gray;
}

a:visited {
  text-decoration: none;
  color: gray;
}

#iconoFinal{
  display: flex;
  justify-content: space-around;
  color: gray;
  font-size: 25px;
  padding: 10px;
  cursor: pointer;
  width: 60%;
}

#grupoBotones{
  display: flex;
  justify-content: space-around;
  color: gray;
  font-size: 30px;
}

#grupoBotones i{
  cursor: pointer;
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.p-2{
  display: flex;
  justify-content: space-around;
}

.box1{
  flex:2;
  
}
.box2{
  flex:1;
}
.box3{
  flex:1;
}

#userIcon{
  color:gray;
  font-size: 30px;
  padding-left: 15px;
}


